.hero {
    height: 60vh;
    background-image: url("/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include container($laptop13);
    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .title {
        * {
            line-height: 1.1;
        }

        h2 span {
            color: $red;
        }

        .subtitle {
            color: #eaeaea;
            @include h4;
            margin: 20px 0 0;
            p {
                margin: 0;
            }
        }
        .conditions {
            display: block;
        }
        .btn {
            margin-top: 50px;
        }
    }
}
