.products {
    margin-top: 50px;
    h2 {
        @include h5;
        text-align: center;
    }

    &-grid {
        margin-top: 50px;
        @include container();

        .wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 30px;
        }
    }
}
